body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fffffe;
}

.calculator {
    border: 1px solid #fffffe;
    border-radius: 10px;
    padding: 20px;
    background-color: #272343;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 320px;
    height: 40px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    padding-right: 10px;
    border: 1px solid #fffffe;
    border-radius: 5px;
    background-color: #e3f6f5;
}
#display::placeholder {
    color: #272343;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: #bae8e8;
    color: #272343;
}

button:hover {
    background-color: #afe6e6;
}

.secondary-btn {
    background-color: #e3f6f5;
}

.secondary-btn:hover {
    background-color: #d6f3f2;
}

#equal {
    grid-column-start: span 3; 
}